body {
	background-color: rgba(0, 0, 0, 0.9);
}
.sticky-pagination {
	position: -webkit-sticky;
	position: sticky;

	bottom: 0;
}

.react-pdf__Page__canvas {
	width: 100% !important;
	height: auto !important;
}
